[submodule "engine/library/jalaliDate-Cpp"]
	path = engine/library/jalaliDate-Cpp
	url = https://github.com/SCR-IR/jalaliDate-Cpp.git
[submodule "engine/library/PicoSHA2"]
	path = engine/library/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2.git
